@font-face {
  font-family: "Sant Lipi";
  font-weight: 100 900;
  font-style: normal;
  src: url("SantLipi-VF.woff2") format("woff2-variations"),
    url("SantLipi-VF.woff2") format("woff2");
  font-weight: 100 900;
  unicode-range: U+0964-0965, U+200C-200D, U+2080-2089, U+262C, U+25CC,
    U+0A00-0A76, U+A830-A835, U+FE00-FE0F;
}
